@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
.banner {
  width: 100%;
  height: 699px;
  background-image: url(../img/Banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .banner header {
    width: 100%;
    padding-top: 25px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .banner header .menu .btnBurger {
      border: none;
      background: none;
      color: #fff; }
      .banner header .menu .btnBurger i {
        font-size: 2rem; }
    .banner header .busqueda {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 80px; }
      .banner header .busqueda .btnSearch {
        border: none;
        background: none;
        color: #fff; }
        .banner header .busqueda .btnSearch i {
          font-size: 1.5rem; }
      .banner header .busqueda .btnNotification {
        border: none;
        background: none;
        color: #fff;
        border-radius: 50%;
        background-color: #fff;
        width: 30px;
        height: 30px; }
        .banner header .busqueda .btnNotification i {
          color: #4b4c4e;
          font-size: 1rem; }
  .banner .movieInfo {
    width: 100%;
    height: 200px;
    text-align: center;
    margin-top: 170px;
    color: #fff; }
    .banner .movieInfo h2 {
      font-size: 2.25rem;
      margin-bottom: 25px; }
    .banner .movieInfo .detalle {
      font-size: 1.125rem;
      margin-bottom: 40px; }
    .banner .movieInfo .btnBox {
      margin: auto;
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 480px; }
      .banner .movieInfo .btnBox .btnInfo {
        display: flex;
        align-items: center;
        justify-content: space-evenly; }
      .banner .movieInfo .btnBox .btnBanner {
        background: none;
        color: #fff;
        border: 2px solid #fff;
        font-size: 1.125rem;
        width: 100%;
        max-width: 177px;
        height: 45px; }
        .banner .movieInfo .btnBox .btnBanner i {
          margin-right: 5px; }

main {
  width: 100%;
  height: 1700px;
  background-color: #f3f3f3; }
  main .contenedor .MenuBotones {
    width: 100%;
    padding-top: 37px;
    display: flex;
    justify-content: space-evenly; }
    main .contenedor .MenuBotones button {
      padding: 2.1875rem 1.5625rem;
      border: none;
      background: none;
      color: #4b4c4e;
      font-weight: 500;
      font-size: 1rem; }
      main .contenedor .MenuBotones button:focus {
        outline: none; }
      main .contenedor .MenuBotones button:hover {
        cursor: pointer; }
    main .contenedor .MenuBotones .active {
      color: #e50000;
      border-bottom: 3px solid #e50000; }
  main .contenedor hr {
    width: 92%;
    color: #dadada;
    margin: auto; }
  main .contenedor .MovieGrid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    main .contenedor .MovieGrid .movie {
      overflow: hidden;
      position: relative;
      margin-top: 4.0625rem;
      width: 100%;
      max-width: 300px;
      background-color: #fff;
      box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.34); }
      main .contenedor .MovieGrid .movie .texto {
        width: 100%;
        padding: 1.25rem; }
        main .contenedor .MovieGrid .movie .texto h4 {
          font-size: 1.0625rem;
          font-weight: 600;
          color: #4b4c4e;
          margin-bottom: 0.625rem; }
        main .contenedor .MovieGrid .movie .texto .genero {
          font-size: 0.8125rem;
          color: #e50000;
          font-weight: 500;
          margin-bottom: 15px; }
        main .contenedor .MovieGrid .movie .texto .puntuacion {
          width: 100%;
          max-width: 150px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 10px; }
          main .contenedor .MovieGrid .movie .texto .puntuacion i {
            color: gold; }
          main .contenedor .MovieGrid .movie .texto .puntuacion p {
            color: #4b4c4e;
            margin-left: 5px;
            font-size: 1.25rem;
            font-weight: 500; }
      main .contenedor .MovieGrid .movie .overlay {
        position: absolute;
        transition: all 1s;
        left: 100%;
        display: block;
        width: 100%;
        height: 470px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(12, 12, 12, 0.8)); }
        main .contenedor .MovieGrid .movie .overlay .info {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          main .contenedor .MovieGrid .movie .overlay .info p {
            color: #f3f3f3;
            font-size: 15px;
            font-weight: 600;
            text-align: center;
            margin-bottom: 1.5rem; }
          main .contenedor .MovieGrid .movie .overlay .info .btnVerMas {
            display: block;
            background: none;
            color: #fff;
            border: 1px solid #f3f3f3;
            font-weight: normal;
            font-size: 1rem;
            width: 100%;
            max-width: 177px;
            height: 45px; }
    main .contenedor .MovieGrid .movie:hover {
      cursor: pointer; }
      main .contenedor .MovieGrid .movie:hover .overlay {
        display: block;
        left: 0%; }
  main .contenedor .btnMas {
    background: none;
    border: none;
    margin: 80px auto;
    display: block; }
    main .contenedor .btnMas:focus {
      outline: none; }

footer {
  width: 100%;
  height: 180px;
  background-color: #fff; }
  footer .socials {
    padding: 43px 0;
    width: 100%;
    max-width: 210px;
    margin: auto;
    display: flex;
    justify-content: space-between; }
    footer .socials i {
      color: #c4c4c4;
      font-size: 1.5rem; }
  footer hr {
    width: 100%;
    color: #ffffff;
    margin-bottom: 25px; }
  footer .autor {
    text-align: center;
    color: #e50000;
    font-size: 0.90rem;
    font-weight: 500; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Montserrat", sans-serif; }

.contenedor {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 0; }

/*# sourceMappingURL=style.css.map */
