@import 'fontColor.scss';
@import 'banner.scss';
@import 'main.scss';
@import 'pelicula.scss';
@import 'footer.scss';
@import 'mediaQ';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    font-family: $Primary-Font;
}

.contenedor{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 0;
}